{% set stores = ["docker", "syslog", "auth.log", "nginx", "oneill", "apt-security-updates"] %}

{% for store in stores %}
<match {{ store }}.**>
  type copy

  <store>
    type gstore

    gstore_key_id {{ gstore_key_id }}
    gstore_sec_key {{ gstore_sec_key }}
    gstore_bucket {{ gstore_bucket }}
    path {{ inventory_hostname }}/{{ store }}/
    buffer_path /var/log/fluentd_{{ store }}_buffer

    time_slice_format %Y%m%d-%H
    time_slice_wait 5m
    utc
  </store>

  <store>
    type stdout
  </store>

</match>
{% endfor %}
