<match docker.**>
  type copy

  <store>
    type gstore

    gstore_key_id {{ gstore_key_id }}
    gstore_sec_key {{ gstore_sec_key }}
    gstore_bucket {{ gstore_bucket }}
    path {{ inventory_hostname }}/oneill/
    buffer_path /var/log/fluent_gstore_buffer

    time_slice_format %Y%m%d-%H%M
    time_slice_wait 30s
    utc
  </store>

  <store>
    type stdout
  </store>

</match>
