<source>
  type tail
  path /var/log/syslog
  pos_file /var/log/td-agent/syslog.pos
  tag syslog
  format syslog
</source>


<source>
  type tail
  path /var/log/auth.log
  pos_file /var/log/td-agent/auth.log.pos
  tag auth.log
  format none
</source>


<source>
  type tail
  path /var/log/nginx/access.log
  pos_file /var/log/td-agent/nginx.access.log.pos
  tag nginx.access
  format nginx
</source>


<source>
  type tail
  path /var/log/nginx/error.log
  pos_file /var/log/td-agent/nginx.error.log.pos
  tag nginx.error
  format none
</source>


<source>
  type tail
  path /var/log/oneill.log
  pos_file /var/log/td-agent/oneill.log.pos
  tag oneill
  format json
  time_key time
  time_format %Y-%m-%dT%H:%M:%S%z
</source>
